
      .col-md-3{
        display: inline-block;
        margin-left: -4px;
      }
      .col-md-3 img{
        width: 100%;
        height:150px;
      }
      .carousel-indicator li{
        background-color: blue;
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon{
        background-color: blue;
      }
      .carousel-control-next, .carousel-control-prev{
        width: 2% !important;
      }
      .carousel{
        margin-top: 50px;
      }
      .card-body{
        width: 100%;
        height: 175px;
      }
 